/* GLOBAL TAGS */
body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    min-width: 480px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* TITLES AND FORMATTING CLASSES */
.title {
    font-size: 24px;
  }
  
.subtitle {
    font-size: 16px;
    font-style: italic;
  }

.text-centered {
    text-align: center;
  }

.section-title {
    font-size: 16px;
}

/* CONTROLS SECTION */
.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.controls .dropdown {
    order: 2;
    margin: auto;
}

.controls .button-group {
    margin: auto;
}


/* DROPDOWN */
.dropbtn {
    margin: 1px;
    padding: 10px 20px;
    text-align: center;
    background-color: dimgray;
    color: white;
    font-size: 100%;
    border: 1px solid #595959;
    cursor: pointer;
  }
   
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* BUTTONS */
.measures_button {
    margin: 1px 0px;
    padding: 10px 10px; 
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: white; 
    color: black; 
    border: 1px solid #595959;
}

.measures_button:hover {
    background-color: dimgray;
    color: white;
}

.active {
    background-color: dimgray;
    color: white;
}

/* CHART-RELATED CSS */
.chart {
    position: relative;
    width: 100%;
    height: auto;
}

#map_chart path {
    stroke:rgb(12, 1, 44);
    stroke-width: 0.5px;
  }

#source_label { 
    font-size: 10px;
}
  
.x_axis {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.y_axis {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map_tooltip {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    z-index: 1;
    pointer-events: none;
}

#map_tooltip.hidden {
    display: none;
}

#map_tooltip p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

/* top and left are set in d3_scatter.js */
#scatter_tooltip {
    position: fixed;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    z-index: 1;
    pointer-events: none;
}

#scatter_tooltip.hidden {
    display: none;
}

#scatter_tooltip p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .controls {
        flex-direction: row;
    }

    .controls .button-group {
        margin: 1px;
    }

    .controls .dropdown {
        order: 0;
        margin-right: auto;
        margin-left: 1px;
    }
}

/* Large tablets & desktops */
@media (min-width: 990px) {
    .section-wrapper {
        height: 900px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .section-wrapper section {
            width: 50%;
        }
}